.l-heading{
  font-size: 2rem;
}


/* ABOUT */
#about{
  padding-top: 2rem;
  margin-bottom: 2rem;
}

#about .about-img{
  display: none;
}
#about .about-text{
  width: 100%;
  padding: 2rem;
}

/* CONTACT */
#contact{
  padding-left: 0rem;
}

/* STACK */
#stack{
  margin-top: 5rem;
}